<%= form_with(model: judgeaux, local: true) do |form| %>
  <% if judgeaux.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(judgeaux.errors.count, "error") %> prohibited this judgeaux from being saved:</h2>

      <ul>
      <% judgeaux.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code %>
  </div>

  <div class="field">
    <%= form.label :organ %>
    <%= form.text_field :organ %>
  </div>

  <div class="field">
    <%= form.label :last_update %>
    <%= form.text_field :last_update %>
  </div>

  <div class="field">
    <%= form.label :judge_title %>
    <%= form.text_field :judge_title %>
  </div>

  <div class="field">
    <%= form.label :judge_description %>
    <%= form.text_area :judge_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
